@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');



:root{
	--main-bg-color : #2874f0;
}

*{
	padding :0;
	margin: 0;
}



header{
	height: 56px;
	background-color: var(--main-bg-color );
	color: white;
	position: sticky;
	top: 0px;
	box-shadow: 1px 1px 20px #888888;
}

header ul{
	height: 56px;
	display: flex;
	flex-direction: row;
	align-items: center;
	/*align-items: center;*/
	list-style: none;
	margin: 0 auto;
	z-index: 1;

}

header ul li{
	padding:10px;
	font-family: 'Lato', sans-serif;
	font-weight: bolder;

}

header ul li a{
	text-decoration: none;
	color: white;
	transition: opacity 0.3s ease-in ;
}

header a:hover{
	opacity: 70%;
}


header ul li img{
	width: 80px;
}

header input{
	height: 36px;
	width: 20vw;
	min-width: 19vw;
	border-radius: 5px;
	padding-left: 10px;
}


.contain{
	min-height: calc(100vh - 56px - 12vh);
	background-color: white;
	overflow: hidden;
}



.slider{
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin: auto;
	width: 100%;
}

.slider img{
	margin: 10px;
	margin-top: 10px;
}

.card{
	margin: 20px auto ;
	max-width: 94vw;
	background-color: #f1f3f6;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	

}

.card h2{
	font-family: 'Lato', sans-serif;
	font-weight: bolder;
	margin: 0px 0px 20px;
}

.card img{
	cursor: pointer;


}

.card img:hover{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transform: scale(1.05,1.05);
	/*z-index: -1;*/
}




.card p{
	margin-bottom: 10px;
}


.topic{
	font-family: 'Lato', sans-serif;
	font-weight: bolder;
}

.card-items{
	display: flex;
	overflow: scroll;
	
}

.card-item{
	margin-left: 10px;
	margin-right: 10px;
}



.tiles{
	margin: 20px auto ;
	max-width: 99vw;
	background-color: #f1f3f6;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	display: flex;
	flex-wrap: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.tiles img{
	width: 32.4vw;
	margin-right: 5px;

}

.tiles img:hover{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transform: scale(1.02,1.02);
}





footer{
	height: 12vh;
	background-color: var(--main-bg-color );
	color: white;
	font-family: 'Lato', sans-serif;
}




@media screen and (max-width: 1150px){
	header ul{

			display: contents;

			height: 76px;
	}

	header{
			height: 86px;


	}
	header ul a{
			position: absolute;
			
	}



	.a1{
			top: 10px ;
			left: 120px;
	}

	.a2{
		 top :10px;
		 left: 180px;
	}

	.a3{
		top :10px;
		left : 255px;
	}

	header input{
		position: absolute;
		top : 40px;
		height: 36px;
		width: 250px;

}

}